body {
    font-family: Arial, Helvetica, sans-serif;
}

.div {
    position: relative;
    height: auto;
    font-size: 1.5rem;
    margin: 50px;
}

@media (max-width: 640px) {
    .div {
        margin-bottom: 20px;
    }
}

.div-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1px;
    min-height: 178px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding: 12px 20px 20px;
}

.section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -1px;
    min-height: 178px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding: 12px 20px 20px;
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: auto;
}

.div-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -2px;
}

.div-4 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-4 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-5 {
    position: relative;
    height: auto;
    margin: 10px 31px -3px 20px;
}

@media (max-width: 640px) {
    .div-5 {
        margin-top: 10px;
    }
}

.form-select {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
    max-width: none;
    margin: 20px;
    font-size: 1rem;
    border-radius: 0.25px;
    min-height: 2rem;
    width: 15rem;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-6 {
    position: relative;
    height: auto;
    margin: 10px 31px -3px 20px;
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.button {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    background-color: rgba(108, 117, 125, 1);
    color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: auto 0;
    padding: 15px 25px;
}

@media (max-width: 640px) {
    .button {
        margin-top: 20px;
    }
}

.div-7 {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.div-8 {
    position: relative;
    height: auto;
    margin: 10px 31px -3px 20px;
}

@media (max-width: 640px) {
    .div-8 {
        margin-top: 10px;
    }
}

.div-9 {
    display: flex;
    flex-direction: row;
}

.button-2 {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    background-color: rgba(232, 230, 230, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    margin: -2px 0 auto 15px;
    padding: 15px 25px;
}

.button-3 {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    background-color: rgba(232, 230, 230, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    margin: -2px 0 auto 10px;
    padding: 15px 25px;
}

.button-4 {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    background-color: rgba(232, 230, 230, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    margin: -2px 0 auto 10px;
    padding: 15px 25px;
}

.div-10 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 487px;
    padding: 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 487px;
    padding: 20px;
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.button-5 {
    all: unset;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    appearance: none;
    background-color: rgba(65, 117, 5, 1);
    color: white;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 15px 25px;
}